/*==================
 GENERAL STYLING
===================*/
* {margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f5f9fc;
    color: #333;
}
/*================
  NAVIGATION BAR
=================*/
header {
    background-color: blueviolet;
    box-shadow: 0 2px 10 px rgba(red, green, blue, alpha);
    position:sticky;
    top: 0;
    z-index: 1000;
}
.navbar {
    max-width: 1200px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 30px;
}
.logo{
    font-size: 28px;
    font-weight: bold;
    color: #18a558;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 25px;
}
.nav-links {
    text-decoration:none;
    color: #333;
    font-weight: bold;
    transition: 0.3s;
}